* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  overflow-x: hidden !important;
} */
.topbar {
  background-color: #ffe9a1;
  text-align: center;
  padding: 15px 32px;
  font-family: "Gilda Display", serif;
}
.topbar .topbar-text h3 {
  font-size: 24px;
  font-family: "Gilroy", sans-serif;
  color: #a50304;
  font-weight: 700;
}
.topbar .topbar-text p {
  font-size: 20px;
  color: #1c1c1c;
  margin: 0;
}
.home-bg {
  background: #f2f2f2;
  padding: 20px 0;
}
.home-main {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
}

.home-main .warning-heading {
  font-family: "Oooh Baby", cursive;
  font-size: 64px;
  color: #a50304;
  text-align: center;
  font-weight: 400;
}
.survival-heading {
  font-size: 49px !important;
}
.home-main .bottom-heading {
  font-family: "Oooh Baby", cursive;
  text-align: center;
  font-size: 48px;
  padding-top: 50px;
  color: #a50304;
  font-weight: 400;
}
.home-main .main-heading {
  font-family: "Gilda Display", serif;
  text-align: center;
  font-size: 64px;
  font-weight: 400;
}
.home-main .main-heading span {
  color: #a50304;
}
.home-main .important-heading {
  font-family: "Gilda Display", serif;
  text-align: center;
  font-size: 26px;
  font-weight: 400;
}
.home-main .important-heading span {
  color: #a50304;
}
.congrats-heading {
  font-family: "Gilda Display", serif;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}
.home-main .congrats-heading span {
  color: #a50304;
}
.home-main p {
  font-size: 20px;
  font-family: "Gilroy", sans-serif;
  text-align: center;
  line-height: 32px;
  font-weight: 400;
}
.image-container {
  margin-top: 20px;
  position: relative;
  width: 100%;
  margin: 30px auto 0;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.image-container img {
  width: 100%;
  height: 600px;
  display: block;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.play-button::before {
  content: "";
  border-style: solid;
  border-width: 12px 0 12px 20px;
  border-color: transparent transparent transparent white;
  margin-left: 5px;
}

.play-button:hover {
  transform: translate(-50%, -50%) scale(1.1);
  background-color: rgba(0, 0, 0, 0.8);
}

#videoPlayer {
  width: 100%;
  border-radius: 12px;
  margin-top: -8px;
}
.offer-bg {
  background: #f2f2f2;
  padding: 30px 0;
}
.order-content {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-content .order-heading {
  font-size: 56px;
  font-weight: 400;
  text-align: center;
  font-family: "Gilda Display", serif;
  text-transform: uppercase;
}
.order-content .order-heading span {
  color: #a50304;
}
.order-danger {
  font-family: "Oooh Baby", cursive;
  font-size: 64px;
  color: #a50304;
  text-align: center;
  font-weight: 400;
}
.icon-text img {
  height: 44px;
  width: 44px;
}
.icon-text p {
  font-family: "Gilroy", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.order-now-btn {
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  color: white;
  border: 1px solid white;
  background-color: #a50304;
  padding: 12px 80px;
  margin-top: 10px;
}
.order-now-btn:hover {
  border: 1px solid #a50304 !important;
  border-radius: 8px !important;
  transform: scale(1.1);
  color: #a50304 !important;
  background-color: transparent !important;
  padding: 12px 80px;
}
.price {
  font-size: 70px;
  font-weight: 500;
  color: #a50304;
}
.money-back {
  position: relative;
}
.money-back img {
  position: absolute;
  top: -18px;
  right: -60px;
  height: 100px;
}

.bg-reference {
  background-color: #f2f2f2;
}
.scientific-reference {
  max-width: 1100px;
  margin: auto;
}
.references-title {
  text-align: center;
  font-size: 56px;
  margin-bottom: 2rem;
  font-weight: bold;
}
.reference-item {
  color: #1c1c1c80;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}
.reference-item a {
  text-decoration: underline;
  color: #1c1c1c80;
}
.reference-item a:hover {
  text-decoration: underline;
}
.member-section {
  display: flex;
  gap: 10px;
}
.member-section h4 {
  font-family: "Oooh Baby", cursive;
  font-size: 48px;
  font-weight: 400;
}
.member-section img {
  height: 48px;
}
.left-section {
  width: 500px;
  font-family: "Gilroy", sans-serif;
}
.para-text {
  font-size: 20px;
  font-weight: 400;
  font-family: "Gilroy", sans-serif;
}
.right-section img {
  height: 235px;
}
.bg-plan-content {
  background-color: #f2f2f2;
}
.plan-content {
  max-width: 1100px;
  margin: auto;
  text-align: center;
  padding: 75px 0;
}
.plan-content h2 {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 400;
  font-family: "Gilda Display", serif;
}
.plan-content h2 span {
  color: #a50304;
}
.plan-content h3 {
  font-family: "Gilroy", sans-serif;
  font-size: 20px;
  padding-top: 16px;
  font-weight: 400;
}
.plan-content .btn-plan {
  font-size: 24px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  color: white;
  border: 1px solid white;
  background-color: #a50304;
  margin-top: 30px;
  padding: 12px 30px;
  font-weight: 700;
  font-family: "Gilroy", sans-serif;
}
.plan-content .btn-plan:hover {
  border: 1px solid #a50304 !important;
  border-radius: 8px !important;
  transform: scale(1.1);
  color: #a50304 !important;
  background-color: transparent !important;
}
.about-section {
  padding: 70px 10px 0px;
  max-width: 1100px;
  margin: auto;
}
.about-section .about-heading h2 {
  font-size: 56px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-family: "Gilda Display", serif;
}
.about-section .about-text {
  max-width: 1040px;
  margin: auto;
}
.about-section .about-text p {
  max-width: 1040px;
  margin: auto;
  font-size: 19px;
  font-weight: 700;
  font-family: "Gilroy", sans-serif;
}
.plan-section {
  padding: 40px 0;
}
.list-heading {
  font-size: 24px;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}
.icon-list {
  display: flex;
  gap: 10px;
  margin-bottom: 7px;
}
.icon-list p {
  font-size: 20px;
  font-weight: 700;
  font-family: "Gilroy", sans-serif;
  margin: 0;
}
.highlight-heading {
  font-family: "Oooh Baby", cursive;
  color: #a50304;
  font-size: 48px;
  font-weight: 400;
}
.highlight-text {
  font-family: "Gilroy", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.testimonial-section {
  padding: 0 10px;
  max-width: 1100px;
  margin: auto;
}

.section-heading {
  font-family: "Oooh Baby", cursive;
  color: #a50304;
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: 400;
}

.subheading {
  font-size: 24px;
  color: #1c1c1c;
  font-weight: 700;
  margin-bottom: 20px;
}
.testimonial-card {
  display: flex !important;
  gap: 10px;
  border-radius: 10px;
  padding: 20px;
}

.testimonial-card img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}
.testimonial-card p {
  font-size: 19px;
  color: #1c1c1c;
  line-height: 32px;
  font-family: "Gilroy", sans-serif;
}

/* Section Titles Styling */
.section-title {
  font-family: "Dancing Script", cursive;
  color: #b02a2a;
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Subsection Styling */
.subsection-title {
  color: #b02a2a;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}

/* Icon List Styling */
.icons {
  list-style: none;
  padding-left: 0;
}
.icons h4 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Gilroy", sans-serif;
}
.icons p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Gilroy", sans-serif;
  margin-left: 26px;
}
.icons .bullets {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.one-timeoffer-text {
  font-size: 24px;
  font-weight: 700;
  font-family: "Gilroy", sans-serif;
}
.price-bg {
  margin: 10px;
  background: white;
  padding: 10px;
}
.price-bg .order-now-btn {
  padding: 12px 30px !important;
}
.price-bg .save-bold {
  font-size: 20px;
  font-weight: 700;
  font-family: "Gilroy", sans-serif;
  text-align: center;
}
.price-bg span {
  text-decoration: line-through;
  color: #1c1c1c4d;
  font-size: 48px !important;
}

/* .content-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 5%;
} */

.text-content {
  max-width: 50%;
  padding-left: 10rem;
}
.text-content-right {
  max-width: 50%;
  padding-right: 10rem;
}
.text-content-right h2 {
  font-size: 56px;
  padding-top: 50px;
  font-family: "Gilda Display", serif;
}

.text-content h2 {
  font-size: 56px;
  font-family: "Gilda Display", serif;
}
.text-content-right span {
  font-size: 56px;
  font-family: "Oooh Baby", cursive;
  font-weight: 400;
  color: #a50304;
}

.text-content p {
  font-size: 20px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
}
.text-content-right p {
  font-size: 20px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
}

.image-section img {
  height: 800px;
  max-width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.wrapper-image {
  background: #f2f2f2;
  padding: 20px;
  position: relative;
}
.wrapper-image p {
  font-size: 20px;
  font-family: "Gilroy", sans-serif;
  font-weight: 700;
}
.wrapper-image img {
  position: absolute;
  bottom: 0px;
  right: 30px;
}
.bg-gift-section {
  background-color: #f2f2f2;
}
.gift-section {
  max-width: 1100px;
  margin: auto;
}
.gift-section h2 {
  text-transform: uppercase;
  font-size: 56px;
  font-weight: 400;
  padding-top: 75px;
  text-align: center;
  font-family: "Gilda Display", serif;
}
.gift {
  margin-top: 95px;
}
.gift h4 {
  color: #a50304;
  font-size: 48px;
  font-family: "Oooh Baby", cursive;
  font-weight: 400;
}
.gift p {
  font-size: 20px;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
}
.gift-numbering {
  position: relative;
}
.gift .gift-image {
  width: 100%;
  height: 320px;
}
.gift .gif-image {
  position: absolute;
  bottom: 235px;
  right: 442px;
}
.free-gift h6 span {
  color: #ffcc00;
}
.free-gift h6 {
  position: absolute;
  top: -50px;
  left: -40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: white;
  font-family: "Gilroy", sans-serif;
}
.free-gift h3 {
  position: absolute;
  left: -18px;
  top: 7px;
  font-weight: 700;
  font-size: 64px;
  line-height: 28px;
  color: white;
  font-family: "Gilroy", sans-serif;
}

.review-section {
  margin-top: 24px !important;
  max-width: 800px;
  margin: auto;
}
.comma-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bar {
  border: 1px solid #a50304;
  width: 100%;
}
.review-text {
  padding: 0px 13px;
  font-size: 20px;
  font-weight: 400;
  font-family: "Gilroy", sans-serif;
  line-height: 32px;
}

.content-image {
  display: flex;
}
.content-image img {
  width: 40%;
  height: auto;
}
.content-image .short-desc {
  width: 60%;
  padding: 40px 30px;
  height: auto;
}
.content-image .short-desc h2 {
  font-size: 56px;
  font-family: "Gilda Display", serif;
  line-height: 60px;
  font-weight: 400;
  padding-bottom: 40px;
}
.content-image .short-desc span {
  color: #a50304;
}
.content-image .short-desc p {
  font-size: 20px;
  font-weight: 400;
  font-family: "Gilroy", sans-serif;
  line-height: 32px;
}
.padding-left {
  padding-left: 180px !important;
}
.members {
  max-width: 1100px;
  margin: auto;
}
.membership-section {
  background-color: #f8f9fa;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.membership-section h2 {
  color: #a50304;
  font-size: 56px;
  font-weight: 400;
  font-family: "Gilda Display", serif;
}
.membership-section em {
  font-family: "Cursive", sans-serif;
  color: #1c1c1c;
  font-size: 48px;
  font-family: "Oooh Baby", cursive;
  font-weight: 400;
}
.membership-section ul {
  padding-left: 20px;
}
.membership-section ul li {
  margin-bottom: 15px;
  font-size: 20px;
  color: #1c1c1c;
  line-height: 32px;
  font-weight: 400;
  font-family: "Gilroy", sans-serif;
}
.footer-text {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  margin-top: 20px;
  font-family: "Gilroy", sans-serif;
}
.claim-img {
  height: 500px !important;
}
.claim-btn .order-now-btn {
  padding: 12px 30px !important;
}
.vip-bg {
  background-color: #f2f2f2;
}
.vip-access {
  max-width: 1100px;
  margin: auto;
  padding: 70px 0;
}
.vip-access h2 {
  font-size: 56px;
  font-family: "Gilda Display", serif;
  font-weight: 400;
  line-height: 60px;
}
.check-text {
  display: flex;
  align-items: baseline;
  gap: 20px;
  margin-bottom: 20px;
}
.check-text p {
  font-size: 20px;
  margin: 0;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
}
.access-btn {
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  color: white;
  border: 1px solid white;
  background-color: #a50304;
  padding: 15px 30px;
  margin-top: 10px;
  font-weight: 700;
}
.access-btn:hover {
  border: 1px solid #a50304 !important;
  border-radius: 8px !important;
  transform: scale(1.1);
  color: #a50304 !important;
  background-color: transparent !important;
}
.congrats {
  display: flex;
  gap: 20px;
  align-items: baseline;
  justify-content: center;
}
.congrats img {
  height: 50px;
}
.bg-footer {
  background-color: #0e1643;
}
.footer {
  margin: auto;
  max-width: 1100px;
  color: #fff;
  text-align: center;
  padding: 40px 20px;
}

.footer h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.footer h1 span {
  background-color: #a50304;
  color: #fff;
  padding: 5px 10px;
  font-size: 32px;
  font-weight: 700;
}

.footer p {
  font-size: 18px;
  margin: 20px 0;
  line-height: 1.6;
  color: #d1d1d1;
}

.footer a {
  color: #d1d1d1;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
  color: #fff;
}

.footer .disclaimer {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 20px;
}

.footer .copyright {
  margin-top: 20px;
  font-size: 18px;
  color: #d1d1d1;
}
@media screen and (max-width: 768px) {
  .home-main .warning-heading {
    font-size: 36px !important;
    /* text-align: start; */
  }
  .home-main {
    margin: 20px auto;
  }
  .home-main .main-heading {
    font-size: 24px;
    margin-top: 20px;
  }
  .congrats-heading {
    font-size: 24px;
    line-height: 38px;
  }
  .home-main p {
    font-size: 16px;
    line-height: 25px;
  }
  .bg-reference {
    overflow-x: hidden !important;
  }
  .recipe-footer {
    height: 155px;
  }
  .member-section h4 {
    font-size: 36px;
  }
  .member-section img {
    height: 40px;
  }
  .plan-content h2 {
    font-size: 24px;
  }
  .plan-content h3 {
    margin: 20px;
  }
  .about-section .about-heading h2 {
    font-size: 24px;
  }
  .about-section .about-text p {
    font-size: 16px;
  }
  .baby-image {
    height: 220px;
    width: 100%;
  }
  .icon-list {
    align-items: baseline;
  }
  .icon-list p {
    font-size: 16px;
  }
  .highlight-heading {
    font-size: 36px;
  }
  .highlight-text {
    font-size: 16px;
  }
  .section-heading {
    font-size: 36px;
  }
  .testimonial-card {
    padding: 20px 10px;
  }
  .icons h4 {
    font-size: 16px;
  }
  .icons p {
    font-size: 16px;
  }
  .plan-content .btn-plan {
    margin: 20px;
  }
  .congrats {
    gap: 10px;
    align-items: center;
    margin: 35px 0;
  }
  .right-section img {
    height: 170px;
  }
  .check-text p {
    font-size: 16px;
  }
  .para-text {
    font-size: 16px;
  }
  .topbar .topbar-text h3 {
    font-size: 16px !important;
  }
  .topbar .topbar-text p {
    margin-top: 20px;
    font-size: 16px !important;
  }
  .home-main .bottom-heading {
    font-size: 24px;
  }
  .important-heading {
    font-size: 16px;
  }
  .vip-access h2 {
    font-size: 37px;
    line-height: 45px;
  }
  .vip-access {
    padding: 60px 0;
  }
  .image-container img {
    height: 250px;
  }
  .order-content {
    overflow-x: hidden !important;
  }
  .hero-image {
    height: 160px !important;
  }
  .one-timeoffer-text {
    font-size: 20px;
  }
  .price-bg {
    margin-top: 30px;
  }
  .order-content .order-heading {
    font-size: 24px;
    font-weight: 400;
  }
  .money-back img {
    right: 0 !important;
    height: 80px !important;
  }
  .order-danger {
    font-size: 36px;
  }
  .money-back img {
    right: -40px;
  }
  /* .icon-text img {
    height: 163px;
    width: 342px;
  } */
  .reference-item {
    padding: 0 20px;
    font-size: 15px !important;
  }
  .row-reverse {
    flex-direction: column-reverse;
  }
  .text-content {
    margin-top: 40px;
    padding-left: 10px;
    max-width: none;
  }
  .image-section img {
    height: auto;
  }
  .text-content-right {
    padding-right: 10px;
    max-width: none;
  }
  .mommy-girl {
    width: 100%;
    height: 400px;
  }
  .bg-gift-section {
    padding: 10px;
  }
  .gift-numbering {
    margin-top: 20px;
  }
  .gift .gif-image {
    height: 120px;
    position: absolute;
    bottom: 225px;
    right: 10px;
  }
  .free-gift h6 {
    top: 0px;
    left: 267px;
    font-size: 17px;
  }
  .free-gift h3 {
    left: 286px;
    top: 40px;
    font-size: 50px;
  }
  .gift {
    margin-top: 40px;
  }
  .content-image img {
    width: 100%;
    height: auto;
  }
  .content-image {
    display: block;
  }
  .content-image-reverse {
    display: flex !important;
    flex-direction: column-reverse !important;
  }
  .content-image .short-desc {
    width: 100%;
    padding: 15px !important;
    height: auto;
  }
  .padding-left {
    padding-left: 0 !important;
  }
  .membership-section {
    padding: 15px;
  }
  .modal-content {
    margin-top: 70px;
    width: 100%;
    max-width: none;
  }

  .footer .disclaimer {
    font-size: 16px;
  }
  .footer .copyright {
    font-size: 16px;
  }
  .footer p {
    margin: 35px 0;
    display: flex;
    flex-direction: column;
  }
}
